
.timelineHeading{
	color: #222;
	background-color: #c9c9c9;
	border-bottom: 1px solid #000000;
	padding: 0px;
}
.timelineText{
	color: #222;
	padding: 0px;
	background-color: #ffffff;
} 
.timelineHiddenObject{
	display: none;
}
.timelineCat1{
	z-index:99;
}
.timelineCat2{
	z-index:98;
}
.timelineCat3{
	z-index:97;
}
.timelineBringToFront{
	z-index:100 !important;
}
